.app {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.logo-group {
  height: 60px;
  width: 150px;
  position: fixed;
  background-color: lightblue;
  top: 20px;
  right: 20px;
  border-radius: 25px;
}

.logo {
  width: 48px;
  position: fixed;
  transition: opacity 0.5s;
}
#github {
  position: absolute;
  top: 5px;
  right: 20px;
}
#linkedin {
  position: absolute;
  top: 5px;
  left: 20px;
}

.logo:hover {
  opacity: 50%;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: 1s ease;
}

.hero-text {
  font-size: xx-large;
  margin-right: 20px;
}

.hero-title {
  display: flex;
}

.jumping-letter {
  animation: rise 2s 6 alternate;
}

@keyframes rise {
  100% {
    transform: translateY(-100px);
  }
}

/* SASS */

.jumping-letter:nth-child(1) {
  animation-delay: 100ms;
}
.jumping-letter:nth-child(2) {
  animation-delay: 200ms;
}
.jumping-letter:nth-child(3) {
  animation-delay: 300ms;
}
.jumping-letter:nth-child(4) {
  animation-delay: 400ms;
}
.jumping-letter:nth-child(5) {
  animation-delay: 500ms;
}
.jumping-letter:nth-child(6) {
  animation-delay: 600ms;
}
.jumping-letter:nth-child(7) {
  animation-delay: 700ms;
}
.jumping-letter:nth-child(8) {
  animation-delay: 800ms;
}
.jumping-letter:nth-child(9) {
  animation-delay: 900ms;
}
.jumping-letter:nth-child(10) {
  animation-delay: 1000ms;
}
.jumping-letter:nth-child(11) {
  animation-delay: 1100ms;
}
.jumping-letter:nth-child(12) {
  animation-delay: 1200ms;
}
.jumping-letter:nth-child(13) {
  animation-delay: 1300ms;
}
.jumping-letter:nth-child(14) {
  animation-delay: 1400ms;
}
.jumping-letter:nth-child(15) {
  animation-delay: 1500ms;
}

/* SASS END */

.hero-button {
  background-color: white;
  border-width: 1px;
  border-radius: 5px;
  width: 20rem;
  height: 2rem;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: rgb(209, 237, 255);
  cursor: pointer;
}

.hero-img {
  width: 18%;
  border-radius: 100%;
}

/* Other entries */
.activities {
  margin-top: 100px;
  display: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.section-button {
  animation-duration: 2s;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;

  text-align: center;
  justify-content: center;
  color: rgb(209, 237, 255);;
  height: 300px;
  cursor: pointer;
  width: 300px;
  background-color: rgb(0, 0, 62);
  border: none;
  border-radius: 100%;
  transition: 1000ms ease;
  background-size: 300px;
}

.section-button:hover, .section-button:focus-visible {
  transform: translateY(-1.75rem);
  background-color: rgb(0, 0, 190);
  transition: transform 250ms;
}


/* Information sections */

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.activities-about-text {
  display: none;
  width: 300px;

  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.activities-about-img {
  display: none;
  height: 200px;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  
  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.activities-about-motivations {
  display: none;
  width: 400px;

  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.activities-initiatives-timeline {
  display: none;
  position: fixed;
  width: 500px;
  bottom: 300px;
}

.activities-initiatives-img {
  display: none;
  height: 200px;
  border-radius: 100%;
  border-style: solid;
  border-color: black;

  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.activities-initiatives-text {
  display: none;
  width: 250px;

  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.activities-projects-img {
  display: none;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  transition: opacity 0.4s ease-out; /* Added transition property */
}

.activities-projects-img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.activities-projects-description {
  display: none;
  width: 250px;

  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.accent {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}


.boat-img {
  display: none;
  position: fixed;
  z-index: -1;
  height: 80px;
  bottom: 30px; /* Adjust this value to position the boat near the bottom of the screen */
  left: 0; /* Initial position at the left edge of the screen */
  animation: boat-move 30s cubic-bezier(0.27, 0.01, 0.44, 0.66) infinite; /* Animation properties */
}

@keyframes boat-move {
  0% {
    left: -90px; /* Start position */
  }
  15% {
    rotate: -30deg;
    transform: translateY(-100px);
  }
  25% {
    rotate: 20deg;
    transform: translateY(-30px);
  }
  35% {
    rotate: -10deg;
    transform: translateY(-40px);
  }
  45% {
    rotate: 0deg;
    transform: translateY(-50px);
  }
  65% {
    rotate: 20deg;
    transform: translateY(-60px);
  }
  75% {
    rotate: -20deg;
    transform: translateY(-60px);
  }
  85% {
    rotate: 10deg;
    transform: translateY(-35px);
  }
  100% {
    rotate: -10deg;
    transform: translateY(-60px);
    left: 100%;
  }
}


@media only screen and (max-width: 1100px) {
  .section-button {
    height: 150px;
    width: 150px;
    background-size: 150px;
  }

  .activities-about-img {
    height: 150px;
  }

  .activities-initiatives-img {
    width: 150px;
    height: 150px;
  }

  .activities-projects-img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .activities {
    flex-direction: column;
  }
  .section-button {
    height: 150px;
    width: 150px;
    background-size: 150px;
    margin-bottom: 10px;
  }
  .section-button:hover, .section-button:focus-visible {
    transform: translateX(-1.75rem);
    background-color: rgb(0, 0, 190);
    transition: transform 250ms;
  }

  .activities-about-img {
    height: 150px;
  }

  .activities-initiatives-img {
    width: 150px;
    height: 150px;
  }

  .activities-projects-img {
    height: 150px;
    width: 150px;
  }
  .hero {
    align-items: center;
    flex-direction: column;
  }

  .hero-title {
    align-items: center;
    font-size: x-large;
  }
  .hero-message {
    font-size: large;
  }
  .hero-button {
    font-size: small;
  }

  .hero-text {
    margin: 20px;
    justify-content: center;
    align-items: center;
    font-size: large;
  }


  @keyframes rise {
    100% {
      transform: translateY(-30px);
    }
  }

  .hero-message {
    font-size: large;
  }
  .hero-button {
    width: 50%;
  }

}